
var getTaskItemContent = function(task, index) {
  var contents = task.taskContent
  if (!contents || contents.length == 0) {
    console.error("数据为空")
    return ""
  }
  item = contents[index]
  if (item) {
    value = item.content
    return value
  }
  console.error("未提前创建占位项")
  return ""
}

var canShowItem = function(task, index) {
  var content = getTaskItemContent(task, index)
  return content.length > 0
}

module.exports = {
  taskItemContent: getTaskItemContent,
  canShowItem: canShowItem
}