

var getEventTitle = function(event) {
  return event.eventTitle
}

var getEventTime = function(event) {
  var date = getDate()
  return date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate()
}

var getEventItemContent = function(event, index) {

  contents = event.eventContent
  item = contents[index]
  value = item.content
  console.log(value)
  return value
}


var getTaskTitle = function(task) {
  return task.taskTitle
}

module.exports = {
  eventTitle: getEventTitle,
  eventTime: getEventTime,
  eventItemContent: getEventItemContent,
  taskTitle: getTaskTitle,
}