
var getTaskItemContent = function(task, index) {
  var contents = task.taskContent
  if (!contents || contents.length == 0) {
    console.error("数据为空")
    return ""
  }
  item = contents[index]
  if (item) {
    value = item.content
    return value
  }
  console.error("未提前创建占位项")
  return ""
}

var canShowItem = function(task, index) {
  var content = getTaskItemContent(task, index)
  return content.length > 0
}

var getTotalText = function(total) {
  if (total == 1) {
    return "打卡第1天"
  } else {
    return "坚持打卡第" + total + "天"
  }
}

// 是否可以修改标题
var canEditTitle = function(state) {
  return state == 0
}

// 是否可以修改时间
var canEditTime = function(state) {
  return state == 0 || state == 3
}

// 是否可以修改内容
var canEditContent = function(state) {
  return state != 1
}

// 是否显示编辑按钮
var canShowEdit = function(state) {
  return state == 1 || state == 2
}

// 打开按钮文案
var getPublishText = function(state) {
  var text = ""
  switch(state) {
    case 0: {
      text = "发布"
      break
    }
    case 1: {
      text = "再打卡"
      break
    }
    case 2: {
      text = "确定"
      break
    }
    case 3: {
      text = "发布"
      break
    }
    default: {
      text = "发布"
    }
  }
  return text
}

// 编辑按钮文案
var getEditText= function(state) {
  var text = ""
  switch(state) {
    case 0: {
      text = ""
      break
    }
    case 1: {
      text = "编辑"
      break
    }
    case 2: {
      text = "还原"
      break
    }
    case 3: {
      text = ""
      break
    }
    default: {
      text = ""
    }
  }
  return text
}

module.exports = {
  taskItemContent: getTaskItemContent,
  canShowItem: canShowItem,
  getTotalText: getTotalText,

  canEditTitle: canEditTitle,
  canEditTime: canEditTime,
  canEditContent: canEditContent,
  canShowEdit: canShowEdit,

  getPublishText: getPublishText,
  getEditText: getEditText,

}